* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0e1226;
}
.container {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 20px 30px;
  border-bottom: 1px solid #3636f4;
}
.header .node h1 {
  color: #fff;
}
.links ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease, transform 0.2s ease;
}
.links ul li a:hover {
  transform: scale(1.2);
  color: #3636f4;
  display: inline-block;
}
.body {
  margin-top: 100px;
  margin: 30px 100px 100px 100px;
}
.body h3 {
  color: aliceblue;
  padding-left: 60px;
}
.header nav {
  display: none;
}
.body img {
  width: 100px;
  height: 100px;
  margin-left: 12px;
  border-radius: 50%;
  margin-top: 10px;
}
.body p {
  color: #fff;
  padding-left: 20px;
  margin-top: 8px;
}
.body .body1,
.body2,
.body3 {
  display: flex;
  gap: 50px;
}
.body4 {
  display: flex;
  gap: 50px;
}
.one {
  transition: color 0.2s ease, transform 0.2s ease;
  border: 1px solid #fff;
  background: #23115c;
  margin-top: 20px;
  width: 350px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}
.one:hover {
  transform: scale(1.2);
  display: inline-block;
  background: #ae8b17;
}
.body h3 {
  font-size: 18 px;
}
.header nav {
  color: #fff;
}


/* < ---------------- Responsive -------------------> */

@media screen and (max-width: 1000px) {
  .header nav {
    display: block;
  }
  .links {
    display: none;
  }
  .header nav {
    display: block;
  }
  .body1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
  }
  .one img {
    width: 60px;
    height: 60px;
  }
}
