* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0e1226;
}
.container {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 20px 30px;
  border-bottom: 1px solid #3636f4;
}
.header nav {
  display: none;
}
.header .node h1 {
  color: #fff;
}
.links ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease, transform 0.2s ease;
}
.links ul li a:hover {
  transform: scale(1.2);
  color: #3636f4;
  display: inline-block;
}
.gallary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
.gallery-item:hover {
  transform: scale(1.2);
  display: inline-block;
  color: #3636f4;
}
.gallery-item {
  margin-left: 50px;
  margin-right: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
  background: #fff;
  transition: color 0.3s ease, transform 0.3s ease;
}

.gallery-item img {
  width: 310px;
  height: 200px;
  display: block;
}
.header nav {
  color: #fff;
}
.caption {
  padding-top: 5px;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

/* < ---------------- Responsive -------------------> */
@media screen and (max-width: 1350px) {
  .gallery-item img {
    width: 210px;
    height: 150px;
  }
}
@media screen and (max-width: 1260px) {
  .gallery-item img {
    width: 180px;
    height: 120px;
  }
}
@media screen and (max-width: 1165px) {
  .gallery-item img {
    width: 150px;
    height: 100px;
  }
}
@media screen and (max-width: 1070px) {
  .header nav {
    display: block;
  }
  .links {
    display: none;
  }
  .header nav {
    display: block;
  }

  .gallery-item img {
    width: 210px;
    height: 150px;
    display: block;
  }
  .gallary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 796px) {
  .gallary {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
  }
  .gallery-item img {
    width: 210px;
    height: 150px;
    align-items: center;
  }
  .gallery-item {
    margin-left: 50px;
    margin-right: 500px;
  }
}
